body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  background-image: url(https://images.pexels.com/photos/7976/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.container {
  position: fixed;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 600px; /* Fixed width */
  height: 1200px; /* Minimum height to maintain the layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  margin-bottom: 50px;
}
h2{
  margin-top: 50px;
  margin-bottom: 10px;
}


input {
  padding: 10px; 
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.weather-info img {
  width: 100px;
  height: 100px;
}
